body {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    color: #000;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
}
.concatenator {
    display: block;
    border: 3px solid #000000;
    border-radius: 10px 10px 0 0;
    background: #fff;
    overflow: hidden;
}
.concatenator.loading .canvas-wrapper {
    background: url(assets/loading.gif) center no-repeat transparent;
    background-size: 130px;
}
.concatenator.loading .canvas {
    display: none;
}
.concatenator .status-bar {
    justify-content: flex-start;
    align-items: center;
    padding: 3px 7px;
    border: 0;
}
.concatenator .status-bar .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.concatenator .status-bar .button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 0;
    margin: 0 2px;
}
.concatenator .status-bar .button-green {
    background-color: #4cd964;
}
.concatenator .status-bar .button-yellow {
    background-color: #ffcc00;
}
.concatenator .status-bar .button-red {
    background-color: #ff3b30;
}
.concatenator form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid #000;
    border-left: 0;
    border-right: 0;
    padding: 12px 0 0 0;
}
.concatenator .management {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    order: 0;
    padding-bottom: 12px;
    border-bottom: 3px solid #000;
    margin-bottom: 15px;
}
.concatenator .management button,
.concatenator form .input-label {
    -webkit-appearance: none;
    appearance: none;
    user-select: none;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    background-color: #007aff;
    color: #fff;
    padding: 7px 15px;
    box-shadow: 0 0 3px rgba(0,97,230,0);
    transition: background-color 0.3s ease,
                box-shadow 0.3s ease;
}
.concatenator .management button:hover,
.concatenator form .input-label:hover {
    background-color: #0061E6;
    box-shadow: 0 0 3px rgba(0,97,230,0);
}
.concatenator .management button:focus,
.concatenator form .input-label:focus {
    box-shadow: 0 0 3px#0061E6;
}
.concatenator .management button:focus-within,
.concatenator form .input-label:focus-within {
    background-color: #0061E6;
    box-shadow: 0 0 3px rgba(0,97,230,0);
}
.concatenator .management button:active,
.concatenator form .input-label:active {
    background-color: #0061E6;
    box-shadow: 0 0 3px #0061E6;
}
.concatenator .input {
    display: none;
}
.concatenator form .input-label {
    order: 1;
    width: calc(50% - 23px);
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.concatenator form .input-label:nth-child(even) {
    margin-left: 15px;
    margin-right: auto;
}
.concatenator form .input-label:nth-child(odd) {
    margin-right: 15px;
    margin-left: auto;
}
.concatenator form .file-name {
    display: block;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 46px);
    margin: 0 auto;
}
.concatenator form .remove-input,
.concatenator form .remove-input-hidden {
    color: #fff;
    padding: 0 5px;
    display: block;
    margin: 0 0 0 auto;
}
.concatenator form span svg {
    height: 10px;
    width: auto;
}
.concatenator form .clear-input,
.concatenator form .clear-input-hidden {
    width: 18px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 0;
    background: url(assets/clear.svg) center no-repeat transparent;
    background-size: 10px;
}
.concatenator form .clear-input-hidden {
    pointer-events: none;
    visibility: hidden;
}
.concatenator form .remove-input-hidden {
    visibility: hidden;
}
.concatenator .canvas-wrapper {
    display: block;
    width: 100%;
    overflow: auto;
}
.concatenator .canvas {
    display: block;
    width: auto;
    height: auto;
}
.checkbox {
    display: block;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #ffffff;
    transition: all 0.3s ease;
}
.checkbox:after {
    content: ""; 
    position: absolute;
    top: 1px;
    left: 1px;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}
.checkbox:checked {
    border-color: #4cd964;
    box-shadow: inset 20px 0 0 0 #4cd964;
}
.checkbox:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}
.checkbox:before {
    content: 'Horizontal mode';
    pointer-events: none;
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 30px;
    top: 0;
    left: 65px;
    font-size: 14px;
}
.checkbox:checked:before {
    content: 'Vertical mode';
}